<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/Navbar.css" />
    <link rel="stylesheet" href="../static/css/aboutUs.css" />

    <title>StockPulse</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo"><a href="#">StockPulse</a></div>

      <div class="navdiv">
        <ul class="navlinks">
          <!-- <input type="checkbox" id="checkbox_toggle" /> -->
          <!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->
          <div class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
            <li><a href="{{ url_for('companyBackground') }}">Company Background</a></li>
            <li><a href="{{ url_for('forecast') }}">Forecast</a></li>
            <li><a href="{{ url_for('technicalAnalysis') }}">Technical Analysis</a></li>
            <!-- <li><a href="news.html">Sentiment Analysis</a></li> -->
          </div>
        </ul>
      </div>
    </nav>
    <section id="about" class="about">
      <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>
          Resize the browser window to see that this page is responsive by the
          way.
        </p>
      </div>

      <h2 style="text-align: center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../static/images/boy.jpg" style="width: 100%" />
            <div class="container">
              <h2>Nikhil Agarwal</h2>
              <p class="title">CEO & Founder</p>
              <br />
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <br />
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../static/images/boy.jpg" style="width: 100%" />
            <div class="container">
              <h2>Swayam Mehta</h2>
              <p class="title">Art Director</p>
              <br />
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <br />
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../static/images/boy.jpg" style="width: 100%" />
            <div class="container">
              <h2>Shrikant Hurkat</h2>
              <p class="title">Designer</p>
              <br />
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <br />
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
