<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<link rel="stylesheet" href="../static/css/Navbar.css" />
		<link rel="stylesheet" href="../static/css/forecast.css" />
		<link
			rel="stylesheet"
			href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
		/>
		<link rel="stylesheet" href="../static/css/chatbot.css" />

		<title>StockPulse</title>
	</head>
	<body>
		<!------------------------------------NAVBAR------------------------------------------------------>
		<nav class="navbar">
			<div class="logo"><a href="#">StockPulse</a></div>

			<div class="navdiv">
				<ul class="navlinks">
					<!-- <input type="checkbox" id="checkbox_toggle" /> -->
					<!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->
					<div class="menu">
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
						<li>
							<a href="{{ url_for('companyBackground') }}"
								>Company Background</a
							>
						</li>
						<li>
							<a href="{{ url_for('forecast') }}">Forecast</a>
						</li>
						<li>
							<a href="{{ url_for('technicalAnalysis') }}"
								>Technical Analysis</a
							>
						</li>
					</div>
				</ul>
			</div>
		</nav>

		<div class="container">
			<label for="company">Select Company:</label>
			<select id="company" name="company">
				{% for companyName in companyNames %}
				<option value="{{ companyName }}">{{ companyName }}</option>
				{% endfor %}
			</select>
			<br />

			<label>Select Period:</label>
			<select id="period">
				<option value="1W">1W</option>
				<option value="1M">1M</option>
				<option value="6M">6M</option>
				<option value="1Y">1Y</option>
				<option value="5Y">5Y</option>
			</select>
			<br />

			<button id="applyButton">Apply</button>
			<br />

			<h3 class="hidden">Forecast Chart</h3>
			<div id="forecastChart"></div>
			<br />

			<h2 id="heading"></h2>
			<div id="stockAnalysis"></div>

			<h3 class="hidden">Latest News</h3>
			<div id="news-window" class="hidden">
				<div id="news-feed" class="scrollable"></div>
			</div>

			<h3 class="hidden">Sentiment Analysis</h3>
			<div class="sentiment">
				<div id="sentiment_chart" style="float: left; width: 50%"></div>
				<div id="sentiment_score" style="float: left; width: 50%"></div>
				<div style="clear: both"></div>
			</div>

			<button id="chatButton">Chat</button>
			<div id="chatbot-container" style="display: none">
				<h3 id="stockpulse-ai">StockPulse Assistant</h3>
				<div id="chatbot-window">
					<!-- Chatbot messages will be displayed here -->
					<div class="chat-input-container">
						<input
							type="text"
							id="user-input"
							placeholder="Type your message..."
						/>
						<button id="send-btn">Send</button>
					</div>
				</div>
			</div>
		</div>

		<script type="importmap">
			{
				"imports": {
					"@google/generative-ai": "https://esm.run/@google/generative-ai"
				}
			}
		</script>
		<script type="module" src="../static/js/chatbot.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="../static/js/forecast.js"></script>
	</body>
</html>
