<nav class = "navbar">
    <div class="logo"><a href="#">StockPulse</a></div>

    <div class="navdiv">
        <ul class="navlinks">
            <!-- <input type="checkbox" id="checkbox_toggle" /> -->
            <!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->
            <div class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutUs.html">About Us</a></li>
                <li><a href="companyBackground.html">Company Background</a></li>
                <li><a href="forecast.html">Forecast</a></li>
                <li><a href="technicalAnalysis.html">Technical Analysis</a></li>
                <!-- <li><a href="news.html">Sentiment Analysis</a></li> -->
            </div>
        </ul>
    </div>
</nav>